.image_button {
  border: 0px;
  background-color: transparent;
}

.listImage {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.thumbnail_image {
  filter: blur(2px);
}

.active_iamge {
  filter: blur(0px);
}
